* {
  font-family: montserrat, sans-serif;
}

/*STYLE DO PANELU LOGOWANIA, NIE PRZYWIĄZYWAĆ SIĘ */

/* input,
button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

img {
  padding-bottom: 20px;
  width: 40%;
}

form .form-inner .form-group {
  display: flex;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #c9c9c9;
}

form .form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #FFF;
  border-radius: 8px;
  transition: 0.4s;

}

form .form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type="submit"] {
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #888888 50%, #888888 50%, #79F1F1);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto
}

form .form-inner input[type="submit"]:hover {
  background-position: 100% 0%;
}

.error {
  color: tomato;
  font-size: 12px;
  text-align: center;
  padding-bottom: 10px;
} */